@media (max-width: 575.98px){
   .header_area .mb_logo{
        display: block;
    }
    .header_area .b_logo{
        display: none;
    }
    .header_area .cart_count{
    display: inline-block;
    }
      .header_area .right_ctn .on_mb{
        display: block;
      }
      .header_area .right_ctn li a {
        text-align: center;
      }
      .header_area .right_ctn li .s_bscribe {
          background: #f6f6f6;
          color: #cf412b;
          width: 50%;
          margin: 0 auto;
       }
     .hero_left_ctn {
    margin-bottom: 40px !important;
  }
      .latest_news_area .lt_news_ctn {
      margin-bottom: 40px;
    }
    .blockchain_area .block_chain_text_ctn {
      margin-bottom: 40px;
    }
}
@media(max-width: 767.98px){
   .header_area .mb_logo{
        display: block;
    }

    .header_area .b_logo{
        display: none;
    }
      .header_area .right_ctn .on_mb{
      display: block;
    }
    .header_area .right_ctn li a {
        text-align: center;
      }
    .header_area .cart_count{
    display: inline-block;
    }
    .header_area .right_ctn li .s_bscribe {
      background: #f6f6f6;
      color: #cf412b;
      width: 50%;
      margin: 0 auto;
    }
    .hero_left_ctn {
      margin-bottom: 40px !important;
    }
    .latest_news_area .lt_news_ctn {
      margin-bottom: 40px;
    }
        .blockchain_area .block_chain_text_ctn {
      margin-top: 0px !important;
    }
}
@media(max-width: 991.98px){
   .header_area .mb_logo{
        display: block;
    }
    .header_area .b_logo{
        display: none;
    }
    .header_area .cart_count{
    display: inline-block;
    }
    .header_area .left_ctn {
    display: none;
  }
    .header_area .right_ctn li a {
      text-align: center;
    }
    .header_area .right_ctn li .s_bscribe {
      background: #f6f6f6;
      color: #cf412b;
      width: 50%;
      margin: 0 auto;
    }
  .header_area .right_ctn .on_mb{
    display: block;
  }
    .hero_left_ctn {
  margin-bottom: 40px;
}
    .blockchain_area .block_chain_text_ctn {
  margin-top: 0px !important ;
}
}
@media (max-width: 1199.98px){
.blockchain_area .block_chain_text_ctn {
  margin-top: 0px !important;
}
}
@media (max-width: 1249.98px){
.blockchain_area .block_chain_text_ctn {
  margin-top: 116px;
}
.offcanvas.offcanvas-top {
  top: 6%;
  height: 8vh;
}
}