* {
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
    line-height: 1.4;
    font-size: 16px;
    color:#000;
    background-color: #fffefa;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #3A3A3A;
    line-height: 1.4;
  }
  
  img {
    max-width: 100%;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    list-style-type: none;
    display: inline-block;
  }
  
  ul li a {
    text-decoration: none;
  }
  
  ul li a:hover {
    text-decoration: none;
  }
  
  .btn.focus,
  .btn:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
  }
  
  button:focus {
    outline: none;
  }
  
  .form-control:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .section_padding {
    padding: 60px 20px 80px 20px;
  }
  .section_padding_2{
    padding: 80px 20px;
  }

/* Header Area CSS */
.header_area .navbar{
    padding:20px 0;
    border-bottom: 1px solid #c3c2c2;
    z-index: 999;
    position: relative;
}
.header_area .left_ctn form{
    position: relative;
}
.header_area .left_ctn form i{
    font-size: 12px;
    position: absolute;
    top: 33%;
    left: 8%;
    color: #999;
}
.header_area .left_ctn form input{
   padding: 6px 20px 6px 40px;
   border: 1px solid #3A3A3A;
}
.header_area .left_ctn form input::placeholder{
  color: #999;
  font-size: 14px;
  text-transform: capitalize;
  font-size: 14px;
}
.header_area .left_ctn form input:focus{
  border: 1px solid #3A3A3A;
}
.header_area .left_ctn .btn.top_tg{
  border: none;
}
.header_area .left_ctn .btn.top_tg i{
    font-size: 20px;
}
.header_area .menu_bar{
    justify-content: space-between;
}
.header_area .mb_logo{
    display: none;
}
.header_area .cart_count{
    display: none;
}
.header_area .left_ctn{
    display: flex;
    flex: 0.3;
}
.header_area .left_ctn .top_tg{
    margin-right: 20px;
}
.header_area .left_ctn .btn.top_tg:active {
  border: none;
}
.header_area .right_ctn li{
  margin-right: 20px;
}
.header_area .right_ctn .on_mb{
  display: none;
  padding: 20px 0;
  border-bottom: 1px solid #ad1616;
  text-align: center;
    transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.header_area .right_ctn .on_mb a{
  text-transform: capitalize;
  font-size: 16px;
  color: #fff;
   transition:0.4s;
   -webkit-transition:0.4s;
   -moz-transition:0.4s;
   -ms-transition:0.4s;
   -o-transition:0.4s;
}
.header_area .right_ctn .on_mb a:hover{
  color: #000;
}
.navbar-collapse.collapse.show {
  background: #cf412b;
  position: relative;
  top: 22px !important;
}
.navbar-toggler:focus {
  box-shadow: none;
  background: transparent;
  border: none;
}
.header_area .right_ctn li a{
  text-transform: capitalize;
  font-size: 14px;
}
.header_area .rih .c_art,
.header_area .right_ctn li .c_art{
  color: #000;
}
.header_area .rih .c_art span,
.header_area .right_ctn li .c_art span{
  background:#cf412b;
  color: #fff;
  padding: 3px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.header_area .right_ctn li .s_bscribe{
  background: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.offcanvas-backdrop.show {
     opacity: 0;
     transform:translateY(-100%) ;
     -webkit-transform:translateY(-100%) ;
     -moz-transform:translateY(-100%) ;
     -ms-transform:translateY(-100%) ;
     -o-transform:translateY(-100%) ;
}
.offcanvas-backdrop.hiding {
     transform:translateY(100%) ;
     -webkit-transform:translateY(100%) ;
     -moz-transform:translateY(100%) ;
     -ms-transform:translateY(100%) ;
     -o-transform:translateY(100%) ;
}
.offcanvas.offcanvas-top {
  top: 10%;
  height: 13vh;
  background:#f9f9f9;
  padding: 20px 0;
  z-index: 333;
}
.offcanvas.offcanvas-top .offcanvas-body ul li{
  margin-right: 20px;
}
.offcanvas.offcanvas-top .offcanvas-body ul li:last-child{
  margin-right: 0;
}
.offcanvas.offcanvas-top .offcanvas-body ul li a{
  color: #000;
  text-transform: capitalize;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.offcanvas.offcanvas-top .offcanvas-body ul li a:hover{
  color: #cf412b;
}
.header_area .view_menu{
  border-bottom: 1px solid #c3c2c2;
  padding: 25px 0;
}
.header_area .view_menu table{
  margin: 0 auto;
  width: 42%;
  border: 0 solid #fff0;
}
.header_area .view_menu table tr td a{
   font-weight: 400;
   font-size: 16px;
   color: #000;
   text-decoration: none;
   transition:0.4s;
   -webkit-transition:0.4s;
   -moz-transition:0.4s;
   -ms-transition:0.4s;
   -o-transition:0.4s;
}
.header_area .view_menu table tr td a:hover{
  color: #cf412b;
}

/* Hero Area CSS */
.hero_area .hero_left_ctn .hero_img{
  margin-bottom: 35px;
}
.hero_area .hero_left_ctn .hero_text_ctn .headline{
  font-size: 42px;
  font-weight: 500;
}
.hero_area .hero_left_ctn .hero_text_ctn .report_detail .report{
  font-size: 16px;
  color:#6d6d6d;
}
.hero_area .hero_left_ctn .hero_text_ctn .report_detail{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.hero_area .hero_left_ctn .hero_text_ctn .report_detail .report {
  flex: 0.9;
  margin-right: 20px;
  border-right: 1px solid #d7d7d7;
}
.hero_area .hero_left_ctn .hero_text_ctn .report_detail .reporter{
  display: flex;
  align-items: center;
  flex: 0.5;

}
.hero_area .hero_left_ctn .hero_text_ctn .report_detail .reporter img{
  max-width: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 10px;
}
.hero_area .hero_left_ctn .hero_text_ctn .report_detail .reporter .postion p{
  margin-bottom: 6px;
}
.hero_area .hero_left_ctn .hero_text_ctn .report_detail .reporter .postion .name{
  font-size: 18px;
  text-transform: capitalize;
}
.hero_area .hero_left_ctn .hero_text_ctn .report_detail .reporter .postion .date{
  font-size: 14px;
  text-transform: capitalize;
  color: #6d6d6d;
}
.hero_area .hero_right_ctn .sub_report{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 22px;
  margin-bottom: 22px;
}
.hero_area .hero_right_ctn .sub_report img{
  max-width: 200px;
  margin-right: 20px;
}
.latest_news_area .lt_news_ctn .titel h4{
  font-size: 26px;
}
.podcast_area .overly_ctn h4,
.technology_area .tech_ctn .tech_img .overly_ctn h4,
.technology_area .tech_left .tech_img .overly_ctn h4,
.editor_picks_area .editor_sub_ctn .titel h4,
.latest_news_area .lt_news_ctn_sm .titel h4,
.hero_area .hero_right_ctn .sub_report .titel h4{
  font-size: 18px;
  color: #000;
}
.podcast_area .overly_ctn .more_info span,
.technology_area .tech_ctn .tech_img .overly_ctn .more_info span,
.technology_area .tech_left .tech_img .overly_ctn .more_info span,
.editor_picks_area .editor_sub_ctn .titel .more_info span,
.latest_news_area .lt_news_ctn_sm .titel .more_info span,
.latest_news_area .lt_news_ctn .titel .more_info span,
.hero_area .hero_right_ctn .sub_report .titel .more_info span{
  color:#6d6d6d;
  text-transform: capitalize;
  font-size: 16px;
}
.podcast_area .overly_ctn .more_info .topic,
.technology_area .tech_ctn .tech_img .overly_ctn .more_info .topic,
.technology_area .tech_left .tech_img .overly_ctn .more_info .topic,
.editor_picks_area .editor_sub_ctn .titel .more_info .topic,
.latest_news_area .lt_news_ctn_sm .titel .more_info .topic,
.latest_news_area .lt_news_ctn .titel .more_info .topic,
.hero_area .hero_right_ctn .sub_report .titel .more_info .topic{
  border-right: 1px solid #b4afaf;
  padding-right: 10px;
  margin-right: 10px;
}


/* Section Titel */
.section_titel{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.section_titel .left_titel h2{
  font-size: 36px;
  color: #000;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 500;
}
.section_titel .right p{
  font-size: 14px;
  color: #cf412b;
  margin-bottom: 8px;
  text-transform: uppercase;
  margin-right: 8px;
}
.section_titel .right p i{
  color: #cf412b;
}


/* Latest News Area CSS */
.latest_news_area .lt_news_ctn img{
  height: 570px;
  width: 100%;
  object-fit: fill;
  margin-bottom: 26px;
}
.latest_news_area .lt_news_ctn .titel .more_info{
  margin-bottom: 16px;
}
.latest_news_area .lt_news_ctn_sm{
  border-bottom:1px solid #b4afaf;
  padding-bottom: 20px;
}
.latest_news_area .lt_news_ctn_sm img{
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
}
.latest_news_area .lt_news_ctn_sm .titel .more_info{
  margin-bottom: 16px;
}


/* Blockchain Area CSS */
.blockchain_area{
  background: #cf412b;
}
.blockchain_area .block_chain_text_ctn{
  margin-top: 334px;
}

.blockchain_area .block_chain_text_ctn h6 {
  font-size: 26px;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.blockchain_area .block_chain_text_ctn p{
  font-size: 16px;
  color: #fff;

}
.blockchain_area .block_chain_text_ctn .reporter{
  display: flex;
  align-items: center;
  flex: 0.5;

}
.blockchain_area .block_chain_text_ctn .reporter img{
  max-width: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 10px;
}
.blockchain_area .block_chain_text_ctn .reporter .postion p{
  margin-bottom: 6px;
  color: #fff;
}
.blockchain_area .block_chain_text_ctn .reporter .postion .name{
  font-size: 18px;
  text-transform: capitalize;
  color: #fff;
}
.blockchain_area .block_chain_text_ctn .reporter .postion .date{
  font-size: 14px;
  text-transform: capitalize;
  color: #fff;
}


/* Editor Picks Area CSS */

.artical_area .artical_heading h2,
.editor_picks_area .editor_section_titel .left_titel h2{
  font-size: 40px;
  color: #000;
  margin-bottom: 60px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: left;
}

.editor_picks_area .editor_pick_left .left_top .titel_details{
  font-size: 32px;
  color: #000;
  padding-bottom: 30px;
  border-bottom: 1px solid #b3aeae;
  margin-bottom: 30px;
}
.editor_picks_area .editor_pick_left .sub_t{
  font-size: 16px;
  color: #6d6d6d;
  margin-bottom: 0;
}
.editor_picks_area .editor_pick_right{
  margin-bottom: 50px;
}
.editor_picks_area .editor_pick_right img{
  height: 450px;
  width: 100%;
}

.editor_picks_area .editor_sub_ctn img{
  margin-bottom: 20px;
}
.editor_picks_area .editor_sub_ctn .titel .more_info{
  margin-bottom: 20px;
}


.technology_area .tech_left .tech_img img{
  height:400px;
  width: 100%;
}
.technology_area .tech_ctn .tech_img img{
  height: 280px;
  width: 100%;
  margin-bottom: 20px;
}
.technology_area .tech_left{
  position: relative;
}
.technology_area .tech_left .overly_ctn{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.technology_area .tech_left .overly_ctn .more_info,
.technology_area .tech_ctn .overly_ctn .more_info{
  margin-bottom: 20px;
}


.Staf_area .staf_ctn .stf_img img{
  margin-bottom: 15px;
}
.podcast_area .podcast_ctn .info h6,
.Staf_area .staf_ctn .stf_img .info h6{

  font-size: 18px;
  text-transform: capitalize;
  color: #000;
}
.podcast_area .podcast_ctn .info p,
.Staf_area .staf_ctn .stf_img .info p{
  font-size: 16px;
  text-transform: capitalize;
  color: #6d6d6d;
  
}



.artical_area .artical_ctn{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 30px;
  margin-bottom: 40px;
}
.artical_titel {
  width: 84%;
}
.artical_area .artical_ctn .artical_titel .more_info h4{
    font-size: 26px;
    color: #000;
    margin-top: 20px;
}
.artical_area .artical_ctn .artical_titel a{
  color: #cf412b;
  text-transform: capitalize;
  font-size: 16px;
}
.artical_area .artical_ctn .artical_titel a i{
  margin-left: 10px;
}
.artical_area .artical_ctn .artical_titel .more_info{
  margin-bottom: 40px;
  padding-right: 20px;
}
.artical_area .artical_ctn .artical_titel .more_info span{
  color:#6d6d6d;
  text-transform: capitalize;
  font-size: 16px;
}
.artical_area .artical_ctn .artical_titel .more_info .topic{
  border-right: 1px solid #b4afaf;
  padding-right: 10px;
  margin-right: 10px;
}



.podcast_area .podcast_ctn .pod_img{
  position: relative;
  height: 550px;
  width: 100%;
}
.podcast_area .podcast_ctn .pod_img .overly_ctn{
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  padding: 20px 8px 30px 20px;
  background-image: linear-gradient(#0000 50%, #000c);
}
.podcast_area .podcast_ctn .pod_img img{
  height: 100%;
  width: 100%;
  object-fit: fill;
}
.podcast_area .podcast_ctn .info{
  margin-top: 30px;
}


.news_latter_area .news_bg{
  background: #cf412b;
  padding: 100px 40px;
}

.news_latter_area .news_bg h5{
  font-size: 32px;
  color: #fff;
}
.news_latter_area .news_bg p{
  font-size: 16px;
  color: #fff;
}
.news_latter_area .news_bg form input {
  margin-bottom: 20px;
  padding: 12px 20px;
}
.news_latter_area .news_bg form button{
width: 100%;
  text-transform: capitalize;
  background: #000;
  text-align: center;
  font-size: 14px;
  color: #fff;
  padding: 11px;
  border: transparent;
  border-radius: 5px;

}


.footer_area{
  background: #000;
  padding:80px 20px 20px 20px ;
}
.footer_area .footer_top{
  border-bottom: 1px solid #ffffff8e;
  padding-bottom: 40px;
  margin-bottom: 40px;
  position: relative;
}
.footer_area .foter_menu{
}
.footer_area .foter_menu table{
  float: right;
  width: 80%;
  border: 0 solid transparent;
  margin-bottom: 0;
}
.footer_area .foter_menu table tr td a{
   font-weight: 400;
   font-size: 16px;
   color: #fff;
   text-decoration: none;
   transition:0.4s;
   -webkit-transition:0.4s;
   -moz-transition:0.4s;
   -ms-transition:0.4s;
   -o-transition:0.4s;
}
.footer_area .foter_menu table tr td a:hover{
  color: #cf412b;
}

.footer_area .footer_mid{
  padding:40px 0 ;
}

.footer_area .footer_mid .f_mid_left h6{
  font-size: 26px;
  color: #fff;
  margin-bottom: 30px;
}
.footer_area .footer_mid .footer_links h5{
  color: #fff;
  text-transform: capitalize;
}
.footer_area .footer_mid .footer_links p{
  color: #fff;
}
.footer_area .footer_mid .footer_links .right_links{
  border-top: 1px solid #fff;
  padding-top: 30px;
  margin-top: 30px;
}
.footer_area .footer_mid .footer_links .socil_media{
  color: #6d6d6d;
  text-transform: capitalize;
}
.footer_area .footer_mid .footer_links .links ul li{
  display: block;
  margin-bottom: 10px;
}
.footer_area .footer_mid .footer_links ul li a{
  color: #fff;
  font-size: 14px;
}
.footer_area .footer_mid .footer_links .right_links ul li{
  margin-right: 4px;
}
.footer_area .footer_mid .footer_links .right_links ul li:last-child{
  margin-right: 0;
}
.footer_area .footer_mid .footer_links .right_links ul li a{
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
 padding: 12px;
}
.footer_area .f_botm{
  padding-top: 20px;
}
.f_btm_left p{
  color: #fff;
}
.f_btm_right {
  text-align: right;
}
.f_btm_right ul li{
  margin-right: 10px;
}
.f_btm_right ul li:last-child{
  margin-right: 0px;
}
.f_btm_right ul li a{
  color: #fff;

}